export OS_PROJECT_DOMAIN_NAME=Default
export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_NAME=${TEST_PROJECT}
export OS_USERNAME=${TEST_USER}
export OS_PASSWORD=${TEST_PASS}
export OS_AUTH_URL=http://${OS_PUBLIC_ENDPOINT}:5000/v3
export OS_IDENTITY_API_VERSION=3
export OS_IMAGE_API_VERSION=2
