[DEFAULT]
use_syslog = true
syslog_log_facility = LOG_LOCAL6
#default_log_levels = amqp=WARN,amqplib=WARN,boto=WARN,qpid=WARN,sqlalchemy=WARN,suds=INFO,oslo.messaging=INFO,oslo_messaging=INFO,iso8601=WARN,requests.packages.urllib3.connectionpool=WARN,urllib3.connectionpool=WARN,websocket=WARN,requests.packages.urllib3.util.retry=WARN,urllib3.util.retry=WARN,keystonemiddleware=WARN,routes.middleware=WARN,stevedore=WARN,taskflow=WARN,keystoneauth=WARN,oslo.cache=INFO,oslo_policy=INFO,dogpile.core.dogpile=INFO
#rate_limit_interval = 0
#rate_limit_burst = 0
#rate_limit_except_level = ERROR
core_plugin = ml2
service_plugins = ovn-router
allow_overlapping_ips = true
transport_url = rabbit://openstack:${RABBITMQ_PASS}@${RABBITMQ_CONTAINER_NAME}-1:5672,openstack:${RABBITMQ_PASS}@${RABBITMQ_CONTAINER_NAME}-2:5672,openstack:${RABBITMQ_PASS}@${RABBITMQ_CONTAINER_NAME}-3:5672/
notify_nova_on_port_status_changes = true
notify_nova_on_port_data_changes = true
[agent]
root_helper = "sudo /usr/bin/neutron-rootwrap /etc/neutron/rootwrap.conf"
[cors]
[database]
connection = ${SQL_DIALECT}+${SQL_DRIVER}://${CONTAINER_NAME}:${NEUTRON_DBPASS}@${SQL_CONTAINER_NAME}/${CONTAINER_NAME}
${SLAVE_CONNECTION} = ${SQL_DIALECT}+${SQL_DRIVER}://${CONTAINER_NAME}:${NEUTRON_DBPASS}@${HAPROXY_CONTAINER_NAME}/${CONTAINER_NAME}
[ironic]
[keystone_authtoken]
www_authenticate_uri = http://${OS_PUBLIC_ENDPOINT}:5000/
auth_url = http://${OS_INTERNAL_ENDPOINT}:5000/
memcached_servers = ${MEMCACHED_CONTAINER_NAME}-1:11211,${MEMCACHED_CONTAINER_NAME}-2:11211,${MEMCACHED_CONTAINER_NAME}-3:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = neutron
password = ${NEUTRON_DBPASS}
# service_token_roles_required should be set to true but nova's neutron client (v2.0) does not yet support service tokens, 
# so it won't work if set to true
#service_token_roles_required = true
[nova]
auth_url = http://${OS_INTERNAL_ENDPOINT}:5000/
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
region_name = ${REGION}
username = nova
password = ${NOVA_DBPASS}
[oslo_concurrency]
lock_path = /var/lib/neutron/tmp
[oslo_messaging_amqp]
[oslo_messaging_kafka]
[oslo_messaging_notifications]
[oslo_messaging_rabbit]
[oslo_middleware]
[oslo_policy]
[privsep]
[quotas]
[ssl]
