CREATE DATABASE nova_api;
CREATE DATABASE nova;
CREATE DATABASE nova_cell0;
CREATE USER nova;
ALTER USER nova WITH PASSWORD '${NOVA_DBPASS}';
GRANT ALL PRIVILEGES ON DATABASE nova_api TO nova;
GRANT ALL PRIVILEGES ON DATABASE nova TO nova;
GRANT ALL PRIVILEGES ON DATABASE nova_cell0 TO nova;
